# 云桌面环境发布包配置
# registry=http://nexus.xxxxxxxxx.com/repository/npm-taobao/
# registry=https://registry.npmmirror.com/
; 为作用域包设置新的注册表
@xxx:registry=http://nexus.xxx.com/repository/npm-local/
@xxxxx:registry=http://nexus.xxxxx.com/repository/npm-local/